body{

    background-color: rgb(189, 200, 45);

}

a:link {

    color: rgb(123, 45, 67);
}

a:hover {

    color:rgb(200,150, 200);
}


ol{

    list-style-type: square;
}

nav {

  display: flex;
  flex-direction: row-reverse;
}

nav p {

  padding-left: 15px;
  padding-right: 15px;
}

nav.alsoNav {

  grid-row-start: 1;
  grid-row-end: 999;
  grid-column-start: 4;
  grid-column-end: 4;

}

.grid {

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}
section p, section div{

  border: 1px solid black;
}
#daParagraph {

  background-color: rgb(15, 15, 200);
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

div.container{

  border: 2px solid rgb(200, 15, 200);
  width: 50% ;
  margin: auto;
}

.goLeft , .goRight{

  width: 25%;
}

.goLeft {

  float: left;
  clear: right;
}
.goRight {

  float: right;
  clear: left;
}
