/* 
         Final
         Filename: styles
      
         Author:   Kendall Roberts
         Date:    4/24/2019
         HTML5 and CSS3 Illustrated Final
 */

/* reset styles */
html {font-family: 'Ranga', cursive;
   font-size: 14px;
   height:100%;
}
article, aside, body, div, footer, header, h1, h2, h3, nav, p {
   border: 0;
   padding: 0;
   margin: 0;
  font-family: 'Lora', serif;
 
}
h2.hours{
   font-size: 35px;
}
h3.schedule{
   font-size: 25px;

}

/* body and page container */


body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #a58855;
   width: 75%;
   
}


p {
   font-size: 1.2em;
}

/* Videos and Images styles */
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* Table styles */
table,
tr,
td,
th {

    border: 2px solid black;
    border-collapse: collapse;
    padding: 7px;
    font-size: 30px;
}

tr:nth-child(even) {

   background-color: rgb(44, 16, 3);
   color: whitesmoke;
}

tr:nth-child(odd) {

   background-color: rgb(1, 54, 1);
   color: whitesmoke;
}