/*Kendall Roberts
CIS-131
Vue Guitars
10/26/2019*/

img{
    height: 300px;
    width: auto;
}

.contain{
    display: inline-block;
    border: 3px solid rgb(37, 0, 46);
    margin: 22px 22px 22px 22px;
    text-align: center;
}
p{
    font-size: 12pt;
    font-family: 'Indie Flower', cursive; 
}

h1{
    font-family: 'Indie Flower', cursive;
}

ul{
    list-style-type: none;
}

.contain p{
    padding: 10px 10px 10px 10px;
}

