#gridImage{

  filter: grayscale(50%);
  /*border-radius: 30px 15px 5px 75px;
  border: 3px solid black;*/
}

#imageDiv{

  border: 2px solid green;
  width: 985px;
  box-shadow: black 7px 15px 15px;
  z-index: -999;
}

p{

  /*text-shadow:black 7px 15px 15px, black -7px -15px 15px;*/
  transform: translate(50px) rotate(45deg);
}
