/* KendaLL Roberts
    CIS-131
    Image Swaping
*/
#nasus{
    height: 200px;
    width: auto;
}
#fizz{
    
    height: 200px;
    width: auto;
    
}
#darius{
    
    height: 200px;
    width: auto;
}
#bigOne{
    height: 400px;
    width: auto;
}