@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1

   Author:   Kendall Roberts
   Date:    3/26/19

   Filename: gp_layout.css

   This file contains the layout styles and media
   queries used with sample pages from the Golden
   Pulps website.

*/


/* Import Basic Design Styles Used on All Screens */

@import url("gp_designs.css");

/* Flex Layout Styles */
body {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
section#sheet{
   flex-shrink: 1;
   flex-grow: 3;
   flex-basis: 301px;

}
article{

   flex-grow: 1;
   flex-shrink: 3;
   flex-basis: 180px;
}




/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px) {
   img.panel{
      width: 100%;
   }
   nav.horizontal{
      order: 99;
   }
   body>footer {
      order: 100;

   }
}



/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/
@media only screen and (min-width: 480px){
   nav.horizontal ul {
      display: flex;
      flex-direction: row;
      flex-wrap: none; 
      height: 40px;

   }
   nav.horizontal ul li{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
   }
   img.panel.size1{
      width: 100%;
   }
   img.panel.size2{
      width: 60%;
   }
   img.panel.size3{
      width: 40%;
   }
   img.panel.size4{
      width: 30%;
   }
}